node_modules/
*.log
.history

# vscode
/**/.vscode/*
!**/.vscode/launch.json

# IntellijIdea files
/**/.idea/*
!**/.idea/runConfigurations
/.vs
/WebApplication/.idea

# VSCode
jsconfig.json

# Distrib folders
dist

